name: CI Parcel-Panda UI

on: 
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin ${{ secrets.BRANCH }}
            docker build --tag parcel-ui:beta .
            docker run -d -p 3001:3000 --name parcel-ui parcel-ui:beta
